.btn-payment,
.btn-cancel,
.card__body-item a {
  transition: all 0.2s;
}

.btn-payment:hover {
  opacity: 0.8;
}

.btn-cancel:hover {
  color: $darkBlue;
}

.card__body-item a:hover {
  opacity: 0.8;
  text-decoration: none;
}
